html,
body {
  padding: 0;
  margin: 0;
}

:root {
  /* ====== Transition ====== */
  --tran-03: all 0.3s ease;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
  font-family: Poppins, 'Montserrat', sans-serif !important;
  scroll-behavior: smooth;
  transition: var(--tran-03);
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */


/* S H O P    S T Y L Y */

/* text title style */
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}
@media screen and (max-width: 600px) {
  .title {
    width: 100%;
    text-align: center;
    margin-top: 80px;
    padding: 0 10px;
  }
}

.titleTextOne {
  color: #ccc;
  font-size: 1.3em;
  font-weight: 600;
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}
.titleTextOne span {
  color: green;
  font-weight: 600;
  font-size: 1.3em;
}
.titleText {
  color: #555;
  font-size: 1.1em;
  font-weight: 600;
  margin-top: 20px;
}

/* card style */
section {
  padding: 50px 50px 0 50px;
}
._section .content {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 20px;
  min-height: 70vh;
}
@media screen and (max-width: 600px) {
  section {
    padding: 100px 10px 10px 0;
  }
}
.box {
  width: 300px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgb(0, 0, 0, 0.08);
}
.box .imgBx {
  position: relative;
  width: 100%;
  height: 250px;
}
.box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box .text {
  padding: 10px 0 5px;
}
.box .text h3 {
  font-weight: 400;
  color: #111;
}
.buynow {
  color: #fff;
  padding: 10px;
  background-color: green;
  border-radius: 3px;
  float: right;
  cursor: pointer;
}
.end-div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 5px;
}
.price-tag {
  color: green;
  background-color: #ccee;
  border-radius: 3px;
  font-weight: 600;
  padding: 10px;
}
