html,
body {
  padding: 0;
  margin: 0;
}

:root {
  /* ====== Transition ====== */
  --tran-03: all 0.3s ease;

  /* ====== Color ====== */
  --dark-green: #005847; /* #1e5f29; */
  --light-green: #9bb6b0;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
  font-family: Poppins, 'Montserrat', sans-serif !important;
  scroll-behavior: smooth;
  transition: var(--tran-03);
}

.bg-green {
  background-color: var(--dark-green);
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

/* Swipper */
.swiper-button-next,
.swiper-button-prev {
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 50%;
  padding: 20px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: smaller !important;
}

.card_in_slide:hover{
  background: var(--light-green) !important;
}